---
interface Props {
  text: string;
  icon: string;
  color: string;
  link: string;
}

const { link, text, icon, color } = Astro.props;

function getcolor() {
  return `text-${color}-600 dark:text-${color}-400`;
}
---

<a
  href={link}
  target="_blank"
  class=`flex flex-row text-base p-2 rounded-lg hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:focus:ring-gray-600 ${getcolor()}`
>
  {text}
  <i class=`pl-1 bi bi-${icon}`></i>
</a>
