---
interface Props {
  titulo: string;
  descripcion: string;
  link: string;
  img: string;
  imgAlt: string;
}

const { titulo, descripcion, link, img, imgAlt } = Astro.props;
---

<div
  class="max-w-sm pt-4 pl-4 pr-4 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
>
  <a href={link} target="_blank">
    <img
      class="rounded-lg border-2 border-blue-700 dark:border-none w-full h-48 object-cover"
      src={img}
      alt={imgAlt}
    />
  </a>
  <div class="pt-5 pb-5">
    <h3
      class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white"
    >
      {titulo}
    </h3>
    <p class="mb-3 text-base font-normal text-gray-700 dark:text-gray-400">
      {descripcion}
    </p>
    <slot />
  </div>
</div>
